

/* Colors */
:root {
  --backgroundColor: #3d7280;
  --buttonColor: #1a1a1a;
  --buttonHighlighter:  ;
}

body {
  background-color: var(--backgroundColor);
}

button {
  background-color: var(--buttonColor);
}

button:focus, input:focus, select:focus {
  outline: 15px solid var(--buttonHighlighter);
}

select {
  background-color: black;
  color: white;
}
input {
  background-color: black;
  color: white;
}

/* main ball */
#ball{
  color: red;
  background: #fbe3ff;
}
span.letter {
  color:#0f1152;
}
/* Small balls */
.inactive{
  background: grey;
  color:grey;
}
.active {
  background: #fbe3ff;
  color:#0f1152;
}



/* Other styles */
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em .8em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

