/* Colors */
:root {
    --backgroundColor: #3d7280;
    --buttonColor: #1a1a1a;
    --buttonHighlighter: ;
    --textColor: white;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

button {
    background-color: var(--buttonColor);
    color: var(--textColor);
}

button:focus,
input:focus,
select:focus {
    outline: 15px solid var(--buttonHighlighter);
}

select {
    background-color: black;
    color: white;
}

input {
    background-color: black;
    color: white;
}